.home__container {
  row-gap: 7rem;
}

.section {
  padding: 6rem 0 2rem;
}


.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__data span.introduction {
  font-size: 1rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social__icon {
  font-size: 1.25rem;
  color: hsl(0, 0%, 20%);

}

/* .home__social-icon img {
    width: 50%;
} */
.home__social__icon:hover.leetcode {
  color: #ffa116;
}

.github:hover {
  color: hsl(0, 0%, 0%);
}

.home__social .home__social__icon.linkedin:hover {
  color: #0a66c2;
}

.home__title {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.home__hand {
  width: 30px;
  height: 30px;
  margin-left: 0.4rem;
  animation: hand 0.8s linear infinite;
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.home__subtitle {
  position: relative;
  font-size: 1.25rem;
  /* padding-left: 7.4rem; */
  /* text-align: center; */
  font-weight: 400;
  margin-bottom: 1rem;
}

.typed {
  /* color: rgba(0, 0, 255, 0.707); */
  color: #4aa7ec;
}

.button {
  position: relative;
  display: inline-block;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  padding: 1.25rem 2rem;
  /* border-radius: 1rem; */
  border-radius: .375rem 0.375rem 1.5rem;

  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  /* transition: all 0.3s ease-in-out; */
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: #fff;
  top: 0%;
  left: 0%;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: hsl(0, 0%, 0%);
}

.button:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.button__icon {
  margin-left: 0.5rem;
}

.button__flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8rem;
}




.home__description {
  max-width: 400px;
  margin-bottom: 3rem;
}

.home__img {
  background: url(../assets/images/hello1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  filter: grayscale(100%);
  animation: profile__animate 8s ease-in-out infinite 1s;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;

}



.home__img:hover {
  filter: grayscale(0);
}



@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
